.sidebar {
    position: fixed;
    top: 70px;
    left: 20px;
    height: calc(100% - 60px);
}
  
.sidebar-menu {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.sidebar-menu li + li {
    margin-top: 10px;
}


.sidebar-menu li a:hover {
    background: rgba(255, 255, 255, 0.07);
    border-radius: 10px;
}

.sidebar-menu li a:active {
    background: rgba(255, 255, 255, 0.04);
    color: rgba(255, 255, 255, 0.6);
}

