
.service-form {
    /* width: 100%; */
    text-align: center;

    margin-top: 5%;
    border: medium none !important;
}


.service-form input {
    width: 90%;
    background-color: #ffffff;
    font: 400 15px/16px "Roboto", Helvetica, Arial, sans-serif;
    border: 1px solid #ccc;
    background: #f8f8f9;
    padding-left: 15px;
    border-radius: 7px;
    height: 35px;

}

.service-form input:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

.service-form input:focus {
  outline: 0;
  border: 1px solid rgb(58, 56, 56);
}

.service-form select {

    width: 93%;
    height: 40px;
    background-color: #ffffff;

    font: 400 15px/16px "Roboto", Helvetica, Arial, sans-serif;

    border: 1px solid #ccc;
    background: #f8f8f9;
    /* margin-bottom: 10px;
    padding: 10px; */
    border-radius: 7px;
}

.service-form-group {
    align-items: center;
    max-width: 550px;
    
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.group-input {
    width: 100%;
    text-align: left;
    padding-bottom: 2%;
}

.group-input p {
    padding-left: 5px;
    margin-bottom: 2%;
}

.service-submit{
    cursor: pointer;
    width: 130px;
    border: none;
    background: #3498DB;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    margin-top: 15px;
    border-radius: 7px;
}

.service-submit:hover {
    background: #2E86C1;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.service-submit:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.error-container {
    color: red;
}

.service-button{
    cursor: pointer;
    width: 130px;
    /* border: none; */
    /* background: #3498DB; */
    color: black;
    /* margin: 0 0 5px; */
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
    float: right;
    margin: auto;
    
}

/* .service-button:hover {
    background: #2E86C1;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
} */

.service-button:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
